p{
    font-size: 2.5vw;
}
h1{
    letter-spacing: 4px;
}

#contactButton{
    width: 20vw;
}
#contactButton a h2{
    font-size: 2.5vw;
    letter-spacing: 3px;
}
#nav li{
    margin: 2vw 0vw 8vw 0vw;
}
#navSelectorHome{
    margin-top: -7.6vw;
}
#navSelectorAnimation{
    margin-top: -7.6vw;
}
#navSelectorPhotography{
    margin-top: -7.6vw;
}
.navInstaLogo{
    display: none;
}
.navLinkedLogo{
    display: none;
}

.homeVerticalDivider{
        height: 45vw;
}
.backgroundHeader{
    margin-top: 10%;
    margin-left: 31%;
}
.backgroundHeaderVideo{
    margin-top: 23%;
    margin-left: 40%;
}
.backgroundHeaderAnimation{
    margin-top: 23%;
    margin-left: 28%;
}
.backgroundHeaderPhotography{
    margin-top: 23%;
    margin-left: 20%;
}

.arrow{
    margin-top: 47%;
}
#myWorkMy{
    display: none; 
}
#myWorkWork{
    display: none;
}


/*Media Categorieën*/
.mediaCategorieContainer{
    width: 100%;
    margin-top: 30vw;
}
.posterImgTextVideo h1{
    font-size: 9vw;
    position: absolute;
    margin-left: 32.5%;
    margin-top: 22%;

}
.posterImgTextPhoto h1{
    font-size: 9vw;
    position: absolute;
    margin-left: 7%;
    margin-top: 22%;

}
.posterImgTextAnimation h1{
    font-size: 9vw;
    position: absolute;
    margin-left: 19%;
    margin-top: 22%;
}

.embed-containerLeft{
margin-top: 1vw;
width: 95%;
}
.embed-containerRight{
margin-top: 1vw;
width: 95%;
}

.gifLinks{
    width: 95%;
    margin-left: 2.5vw;
}
.gifRechts{
    width: 95%;
    margin-right: 2.5vw;
}
.fotoLinksPortret{
    float: left;
    margin-left: 3vw;
}
.categorieTekstDiv{
    width: 85%;
    margin-top: 7vw;
    margin-left: 7vw;
}
.categorieTekstDiv a{
    font-size: 1.5vw;
}
.categorieTekstHeader{
    font-size: 3.5vw;
    font-family: "Keep Calm Regular";
}
.categorieTekstDivider{
    height: 0.2vw;
}

.brand{
    border: solid 0.5vw #E27A4D;
}

.sectieDivider{
    margin: 30vw auto 30vw auto;
    width: 70%;
    height: 0.2vw;
}
.sectieDivider2{
    margin: 2vw auto 0vw auto;
    width: 67%;
    height: 0.2vw;
}
.sectieDivider3{
    margin: 14vw auto 25vw auto;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}


#aboutContainer{
        margin-left: -7vw;
}
#aboutTekstDiv{
    width: 55%;
}

#contactTekst{
    margin-bottom: 20vw;
}
#contactTekst h3{
    font-size: 6vw;
}
#contactGegevens{
    font-size: 3vw;
    line-height: 14vw;
}

.socialLogo img{
    width: 6%; 
    margin: 5vw 1.2vw 0vw 1.2vw;
}

.footerInfo{
    font-size: 1.5vw;
    color: #28324C;
    font-weight: bold;
    margin: 0vw 6.7vw 1.5vw 6.7vw;
}
.goToTopButton{
    margin-top: 20vw;
}



@media screen and (max-width: 600px){
p{
    font-size: 3vw;
}   
h1{
    font-size: 6vw;
    letter-spacing: 3px;
}
h2{
        font-size: 2vw;
    }

#contactButton{
margin: 4% 0% 0% 4%;
width: 20vw;
border: solid 0.3vw white;
transition: 0.5s;
}
#contactButton h2{
font-size: 1.5vw;
      line-height: 230%;  
}

.backgroundHeader{
    margin-top: 11%;
    margin-left: 27%;

}
.backgroundHeaderVideo{
    margin-top: 25%;
    margin-left: 39%
}
.backgroundHeaderAnimation{
    margin-top: 25%;
    margin-left: 26%;
}
.backgroundHeaderPhotography{
    margin-top: 25%;
    margin-left: 17%;
}

.homeVerticalDivider{
    width: 0.2vw;
    height: 49vw;
    margin-left: 79%;
    margin-top: 2vw;
}
#nav{
    margin-top: 2vw;
    margin-left: 81vw
}
#navSelectorHome{
    margin-left: -6.7vw;
    margin-top: -7.6vw;
}
#navSelectorAnimation{
    margin-left: -13vw;
    margin-top: -7.6vw;
}
#navSelectorPhotography{
    margin-left: -16.5vw;
    margin-top: -7.6vw;
}

.arrow{
    display: none;
}
    
.hireMeButtonOj{
    width: 35%;
}


.goToTopButton{
    display: inline-block;
    margin: 20vw 0vw 0vw 0vw;
    width: 25%;
    border: solid 0.2vw #E27A4D;
    transition: 0.5s;
}

.categorieTekstDiv a{
font-size: 2vw;
}

}